*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),
  rgba(0, 0, 0, 0.6));

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

/*Scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu
{
  font-family: monospace;
  position: fixed;
  background-color: black;
  min-width: 100%;
  z-index: 2;
}

.menu ul li a
{
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 21px 14px;
  display: block;
  float: left;
}

.menu ul
{
  float: left;
}

.menu ul li
{
  float: left;
  list-style: none;
  position: relative;
}

.menu ul li ul
{
  display: none;
  position: absolute;
  margin-top: 55px;
  background-color: black;
  width: auto;
}

.menu ul li:hover ul
{
  display: block;
}

.menu ul li ul li a
{
  padding: 15px 16px;
}

.menu ul li ul li
{
  width: 100px;
}

.menu ul li:hover, .menu ul li ul li:hover
{
  transition: all .3s ease-in;
  background-color: grey;
}

.banner
{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

.app-text
{
  text-align: center;
}

.app-text h1
{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  text-align: center;
}

.app-text h2
{
  color: white;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  font-size: 18px;
  text-align: center;
}

.app-picture
{
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  text-align: center;
}

.app-picture img
{
  border-radius: 50%;
  border: 3px solid lightblue;
}

.button
{
  display: inline-block;
  width: 60%;
  min-width: 800px;
}

.btn
{
  background: white;
  border: 3px solid lightblue;
  width: 120px;
  height: 120px;
  color: grey;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px;
}

.btn img
{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 60px;
}

.btn-one, .btn-two, .btn-three, .btn-four
{
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

.btn-one:hover, .btn-two:hover, .btn-three:hover, .btn-four:hover
{
  border-color: lightblue;
  color: lightblue;
  transition: all .3s ease-in;
  transform: scale(1.1);
}

.about-me
{
  position: absolute;
  width:  80%;
  height: 30%;
  min-width: 800px;
  margin-top: 200px;
  color: white;
  align-items: center;
}

.about-me-text
{
  background: grey;
  width: 800px;
  min-width: 800px;
  padding: 30px;
}

.about-me-text h1
{
  color: white;
  background: grey;
  padding: 30px 0 0 30px;
}

.about-me-text p
{
  color: white;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.sidemenu
{
  margin-top: 50%;
  margin-left: 97%;
  position: absolute;
}

.sidemenu ul
{
  list-style: none;
}

.sidemenu ul li
{
  margin-top: 40px;
}

.sidemenu ul li a
{
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 75px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 4px;
}

.sidemenu ul li a:hover
{
  border-color: lightblue;
  color: lightblue;
  transition: all .3s ease-in;
}

.allsections
{
  z-index: -1;
  position: absolute;
  margin-top: 75%;
  min-width: 100%;
  background: grey;
}

.irobot, .amazonrobotics, .techshare
{
  width: 90%;
  min-width: 1100px;
  padding: 200px 0 30px 30px;
  background: white;
  border-radius: 20px;
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 1000px;
  margin-top: 1000px;
}

.hardware, .software
{
  min-width: 600px;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 100px;
  font-size: 2em;
  color: white;
  background-color: gray;
  text-align: center;
}

.irobot, .amazonrobotics, .techshare
{
  text-align: left;
  min-width:
}

.irobot-image
{
  margin-left: 65%;
}

.amazon-image
{
  margin-left: 65%;
}

.techshare-image
{
  margin-left: 60%;
}

.irobot-image img, .amazon-image img, .techshare-image img
{
  position: absolute;
}

.jump
{
  background: grey;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px;
}

.jump:hover
{
  background: lightblue;
  transition: all .3s ease-in;
}

.pdf-button
{
  background: grey;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 15px;
  padding: 5px;
}

.pdf-button:hover
{
  background: lightblue;
  transition: all .3s ease-in;
}

h2
{
  padding-top: 20px;
  font-size: 30px;
  width: 640px;
  position: relative;
  color: grey;
}

.irobot p, .amazonrobotics p, .techshare p, .hardware p, .software p
{
  text-transform: none;
  min-width: 700px;
  width: 700px;
  font-size: 20px;
  position: relative;
  margin: 30px 0;
  line-height: 25px;
  color: black;
}

.grid-container
{
  display: flex;
  justify-content: center;
}

.grid
{
  margin: 40px 0 0 0;
  display: block;
  max-width: 1000px;
}

.grid:after,
{
  clear: both;
}

.grid:after, .box:before
{
  content: "";
  display: table;
}

.grid li, .experience-grid li
{
  width: 250px;
  height: 280px;
  display: inline-grid;
}

.box
{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.box:hover
{
  transform: scale(1.1);
  z-index: 3;
}

.info h3
{
  margin: auto;
}

.gripper
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/gripper1.jpg);
  background-size: cover;
}

.drone
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/charging1.jpg);
  background-size: cover;
}

.nasa
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/render3.jpg);
  background-size: cover;
}

.modeling
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/helmet-render.jpg);
  background-size: cover;
}

.walker
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/walker.jpg);
  background-size: cover;
}

.machine-shop
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/machine.png);
  background-size: cover;
}

/* Software section */

.mBot_project
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/gazeboimages/mbot.jpg);
  background-size: cover;
}

.hospital_assistant
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/gazeboimages/hospital_assistant.gif);
  background-size: cover;
}

.robot_maze_lidar
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/gazeboimages/lidar_bot.png);
  background-size: cover;
}

.robot_maze_sonar
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/gazeboimages/maze1.png);
  background-size: cover;
}

.animation
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/animationimages/animation3.gif);
  background-size: cover;
}

.solitaire
{
  background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.30)),
  url(images/solitaireimages/solitaire1.jpg);
  background-size: cover;
}

.info
{
  position: absolute;
  width: inherit;
  height: inherit;
}

h3
{
  text-transform: none;
  font-weight: 400;
  color: white;
  font-size: 30px;
  margin: 0 30px;
  padding: 100px 0 0 0;
  line-height: 1.5;
}

.experience-buttons
{
  min-width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.irobot-experience-btn, .amazon-experience-btn, .techshare-experience-btn
{
  width: 200px;
  height: 200px;
  margin-left: 80px;
  margin-right: 80px;
}

.irobot-experience-btn img
{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  transform: translate(0, 65px);
}
.amazon-experience-btn img
{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  transform: translate(0, 110px);
}

.techshare-experience-btn img
{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  transform: translate(0, 0);
}

/*Project pages*/

.project-banner
{
  position: absolute;
  width: 100%;
  color: white
}

.project-text
{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.30));
  margin: auto;
  padding-bottom: 100px;
  width: 70%;
  min-width: 1200px;
}

.project-text h1
{
  line-height: 2.0;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  margin-bottom: 100px;
  width: 60%;
  min-width: 800px;
}

.project-text h4
{
  margin: 80px auto auto 30px;
  padding-left: 100px;
  font-size: 30px;
  width: 30%;
  min-width: 400px;
}

.project-text p
{
  line-height: 1.5;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
  min-width: 900px;
  font-size: 22px;
  max-width: inherit;
}

.project-text ul
{
  margin: auto;
  margin-top: 20px;
  width: 60%;
  font-size: 22px;
  min-width: 900px;
}

.project-text ul li
{
  margin-top: 20px;
  width: 60%;
  font-size: 22px;
  min-width: 900px;
}

.project-text ul li ul
{
  margin-left: 20px;
  width: 60%;
  font-size: 22px;
  min-width: 900px;
}

.project_images
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

figure
{
  margin-top: 40px;
}

figcaption
{
  margin-top: 10px;
}

.project_images img
{
  padding-left: 70px;
  padding-right: 70px;
}

.center_image
{
  text-align: center;
  padding: 40px;
}
